* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

article{
    display: flex;
    justify-content: center;
    margin-left: 205px;

    gap: 1rem;
}

#article .Article-img {
    height: 124px;
    width: 124px;

    border-radius: 16px;

   
}

#article .article-infos h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 12px;
}

#article .article-infos h3 {
    font-size: 20px;
    font-weight: 400;

    color: #8695a4;

    margin-bottom: 1rem;
}




